body {
    background-color: rgb(255, 237, 237);
    font-family: Optima;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-color: #ffd3d3;
    color: #a9535d;
    padding: 1%;
    text-align: center;
    transition: height 0.5s ease; /* Add transition for smooth height change */
}

.peek{
    position: absolute;
    top: 13%;
    right: .1%;
    width: 110px;
    z-index: 999;
    height: auto;

}


.menu-toggle-gif {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    width: 110px;
    height: auto;
}


.wrapper {
  display: flex; /* Enable flexbox layout */
  height: 100vh; /* Set container height to 100% viewport height */
}

.dummy-menu {
  flex: 1; /* Left section takes up 1 part of available space */
}


.dummy-right {
  flex: 1; /* Left section takes up 1 part of available space */
}

.menu {
    width: 350px;
    height: 100%;
    background-color: #ffd3d3;
    overflow-y: auto;
    position: relative;
    left: -350px; /* Initially position the menu off-screen */
    transition: left 0.5s ease; /* Add transition for smooth sliding animation */
    z-index: 1000;
}

.menu.open {
    left: 0; /* Slide the menu into view when it has the 'open' class */
}

.content {
    flex: 3; /* Right section takes up 2 parts of available space */
    position: relative;
    top: 0;
    left: 0;
    margin:1vh;
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: hidden; /* Hide vertical scrollbar */
    z-index: 1;
    transition: transform 0.5s ease, left 0.5s ease; /* Add transition for smooth margin change */
    text-align: center; /* Align content in the center */

}


.menu-item {
    padding: 15px;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    color:#a9535d;
}

.menu-item:last-child {
    border-bottom: none;
}

.content h2 {
    font-size: 8vh; 
    font-family: Playball;/* Increase font size */
    font-weight: 300;
    margin: 2%;
}

.section {
    display: none;
    opacity: 0; /* Initially hide the section */
    transition: opacity 0.5s ease; /* Add transition for opacity change */
}

.section.active {
    display: block;
    opacity: 1; /* Show the section with fade-in animation */
}

.content p{
    font-family:caveat;
    font-size: 4vh;
    font-weight:200;
}

header h1 {
    position: relative;
    margin: 2vh;
    font-family: Satisfy;
    transition: font-size 0.5s ease; 
    font-size: 5vh;/* Add transition for smooth font size change */
    font-weight: 500;
}


.train-1{
    position:fixed;
    width: 10%;
    height: auto;
    z-index:999;
    top:42vh;
    left:155vh;
}

.train-2{
    position:fixed;
    width: 8%;
    height: auto;
    z-index:999;
    top:54vh;
    left:26vh;
}


.angry-1{
    position:fixed;
    width:9%;
    height:auto;
    z-index: 999;
    top:52vh;
    left:151vh;
}
    
.angry-2{
    position:fixed;
    width: 11%;
    height: auto;
    z-index:999;
    top:39vh;
    left:24vh;
}


.alone-1{
    position:fixed;
    width:14%;
    height:auto;
    z-index: 999;
    top:60vh;
    left:155vh;
}
    
.alone-2{
    position:fixed;
    width: 11%;
    height: auto;
    z-index:999;
    top:27vh;
    left:17vh;
}

.dis-1{
    position:fixed;
    width:14%;
    height:auto;
    z-index: 999;
    top:20vh;
    left:149vh;
}
    
.dis-2{
    position:fixed;
    width: 11%;
    height: auto;
    z-index:999;
    top:66vh;
    left:21vh;
}

.help-1{
    position:fixed;
    width:10%;
    height:auto;
    z-index: 999;
    top:20vh;
    left:154vh;
}
    
.help-2{
    position:fixed;
    width: 9%;
    height: auto;
    z-index:999;
    top:56vh;
    left:21vh;
}









/* Add media query for smaller screens */
@media screen and (max-width: 768px) {
    header {
        padding: 2%;
        height: 7vh; /* Adjust the height for smaller screens */
    }

    .menu-toggle-gif {
        width: 60px;
    }

    .peek {
        width: 51px;
        right: 0%;
    }

    
    header h1 {
        left: 3%;
        font-size: 3vh;
    }

    .menu {
        width: 201px;
    }

    .content {
        margin-top: 10px;
    }

    .content h2{
        font-size: 3vh;
    }
    
    .content p{
        font-size: 2vh;
    }
    
    .menu-item {
        font-size: 16px;
    }
    
    
    .dummy-menu {
      flex: 0; /* Left section takes up 1 part of available space */
    }

    .content{
    flex:10;
    left:-28%;
    width: 100px;
    }
    
    .dummy-right {
      flex: 0; /* Left section takes up 1 part of available space */
    }

    .train-1{
    width:25%;
    top:32vh;
    left:33vh;
    }
    
    .train-2{
    width: 20%;
    z-index:999;
    top:54vh;
    left:5vh;
}

    
    .angry-1{
    width:25%;
    top:49vh;
    left:33vh;
    }
    
    .angry-2{
    width: 28%;
    z-index:999;
    top:14vh;
    left:3vh;
}

    
    .alone-1{
    width:25%;
    top:49vh;
    left:33vh;
    }
    
    .alone-2{
    width: 28%;
    z-index:999;
    top:20vh;
    left:3vh;
}
    
    .dis-1{
    width:25%;
    top:49vh;
    left:33vh;
    }
    
    .dis-2{
    width: 28%;
    z-index:999;
    top:20vh;
    left:3vh;
}

    .help-1{
    width:25%;
    top:49vh;
    left:34vh;
    }
    
    .help-2{
    width: 24%;
    z-index:999;
    top:23vh;
    left:3vh;
}
    
    
}
